<div ae-panel title="客户对账单导入" style="padding-bottom:20px" ng-controller="DealerReconciliationImportController">
<!-- 	<div class="row-fluid"> -->
<!-- 		<div class="span6"> -->
<!-- 			<div control-group padding-top="20px" padding-left="20px" padding-right="20px" padding-bottom="5px"> -->
<!-- 				<ae-label name="客户代码"></ae-label> -->
<!-- 				<input ae-textbox textbox-value="sapCode" id="sapCode" ng-model="roleType"/> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div class="span6"> -->
<!-- 			<div control-group padding-top="20px" padding-left="20px" padding-right="20px" padding-bottom="20px"> -->
<!-- 				<ae-label name="客户名称"></ae-label> -->
<!-- 				<input ae-textbox textbox-value="dealerName" id="dealerName" ng-model="roleType"/> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
	
	<div class="row-fluid">
		<div class="span6">
			<div control-group padding-top="20px" padding-left="20px" padding-right="20px" padding-bottom="20px">
				<ae-label name="年度"></ae-label>
				<input ae-combobox id="year" editable="false" data-options="valueField:'value',textField:'display'"/>
			</div>
		</div>
		<div class="span6">
			<div control-group padding-top="20px" padding-left="20px" padding-right="20px" padding-bottom="20px">
				<ae-label name="月度"></ae-label>
				<input ae-combobox id="month" editable="false" data-options="valueField:'value',textField:'display'"/>
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
		<div align="center">
			<!-- <a ae-Linkbutton href="javascript:;" on-click-function="findReserveAmount">查询</a> -->
			<a ae-Linkbutton class="c6" href="javascript:;" on-click-function="query">查询</a>
			<a ae-Linkbutton href="javascript:;" on-click-function="checkIn">上传</a>
		</div>
	</div>
	<div class="row-fluid" ng-show="istableshow">
		<div class="span12">
			<table ae-Datagrid style="width:100%" id="datagrid" title="查询结果列表" onrowenter="true" pagination="true" pageSize="10" data-options="toolbar:'#tb'">
				<thead>
					<tr>
						<th data-options="field:'title',align:'center'" width="53%"><strong>标题</strong></th>
						<th data-options="field:'billDate',align:'center'" width="16%"><strong>账单年月</strong></th>
						<th data-options="field:'effDate',align:'center'" width="16%"><strong>生效日期</strong></th>
						<th data-options="field:'statusName',align:'center'" width="16%"><strong>状态</strong></th>
					</tr>
				</thead>
			</table>
			<div id="tb">
				<a ae-Linkbutton href="#" on-click-function="reconciliationStatusUpdateWithPublish" data-options="iconCls:'icon-ok',plain:true">发布</a>
				<a ae-Linkbutton href="#" on-click-function="checkOut" data-options="iconCls:'icon-save',plain:true">导出</a>
				<a ae-Linkbutton href="#" on-click-function="findReconciliationDeatil" data-options="iconCls:'icon-large-smartart',plain:true">明细</a>
			</div>
		</div>
	</div>
	<div ae-window id="DeatilWindow" title="对账单明细界面" data-options="modal:true,closed:true,shadow:false" ng-controller="DealerReconciliationDeatilController">
		<div style="padding-bottom:20px;">
			<div class="row-fluid">
				<div class="span3">
					<div control-group padding-top="20px" padding-left="20px" padding-right="20px" padding-bottom="5px">
						<ae-label name="客户代码"></ae-label>
						<input ae-textbox textbox-value="dealerCode" style="width:50%" id="dealerCode"></input>
					</div>
				</div>
				<div class="span3">
					<div control-group padding-top="20px" padding-left="20px" padding-right="20px" padding-bottom="20px">
						<ae-label name="经销商名称"></ae-label>
						<input ae-textbox textbox-value="dealerName" style="width:50%" id="dealerName"></input>
					</div>
				</div>
				<div class="span3">
					<div control-group padding-top="20px" padding-left="20px" padding-right="20px" padding-bottom="20px">
 						<ae-label name="年"></ae-label> 
 						<input ae-textbox id="deatilYear" style="width:50%" readonly="true" textbox-value="deatilYear"/> 
<!-- 						<span>年：{{query_data.year}}</span> -->
					</div>
				</div>
				<div class="span3">
					<div control-group padding-top="20px" padding-left="20px" padding-right="20px" padding-bottom="20px">
						<ae-label name="月"></ae-label>
						<input ae-textbox id="deatilMonth" style="width:50%" readonly="true" textbox-value="deatilMonth"/>
<!-- 						<span>月：{{query_data.month}}</span> -->
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div align="center">
					<a ae-Linkbutton href="javascript:;" on-click-function="ReconciliationSignQuery">查询</a>
				</div>
			</div>
			
			<div id="deatilistable" class="row-fluid" ng-show="false">
				<div class="span12">
					<table ae-Datagrid style="width:100%" id="deatildatagrid" title="查询结果列表" rownumbers="true" pagination="true" pageSize="10" data-options="singleSelect:true,toolbar:'#deatiltb'">
						<thead>
							<tr>
							<th data-options="field:'dealerCode',align:'center'" width="20%"><strong>客户代码</strong></th>
								<th data-options="field:'dealerName',align:'center'" width="20%"><strong>经销商名称</strong></th>
								<th data-options="field:'title',align:'center'" width="20%"><strong>标题</strong></th>
								<th data-options="field:'billDate',align:'center'" width="10%"><strong>账单年月</strong></th>
								<th data-options="field:'effDate',align:'center'" width="10%"><strong>生效日期</strong></th>
								<th data-options="field:'statusName',align:'center'" width="10%"><strong>签收状态</strong></th>
								<th data-options="field:'confirmName',align:'center'" width="10%"><strong>确认状态</strong></th>
							</tr>
						</thead>
					</table>
					<div id="deatiltb">
						<a ae-Linkbutton href="#" on-click-function="exportRecDeatil" data-options="iconCls:'icon-save',plain:true">对账单明细</a>
						<a ae-Linkbutton href="#" on-click-function="checkOutDeatil" data-options="iconCls:'icon-save',plain:true">导出</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
