<div class="easyui-layout" ng-controller="EditReturnAllowanceController">

    <div ae-panel id="returnAllowanceInfo" data-options="region:'north'" style="padding-bottom: 20px;" title="新建折让单">

        <div class="row-fluid">
            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="折让单号"></ae-label>
                    <ae-textbox id="allowanceNo" readonly="readonly" textbox-value="returnallowance.allowanceNo"></ae-textbox>
                </div>
            </div>

            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="专用红票通知单号"></ae-label>
                    <ae-textbox id="reqBillNo" readonly="readonly" width="140" textbox-value="returnallowance.reqBillNo" maxLength="20"></ae-textbox>
                </div>
            </div>

            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="快递单号"></ae-label>
                    <ae-textbox id="expressNo" readonly="readonly" width="220" textbox-value="returnallowance.expressNo" maxLength="20"></ae-textbox>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="邮寄时间"></ae-label>
                    <ae-textbox id="postTime" readonly="readonly" width="220" textbox-value="returnallowance.postTime"></ae-datebox>
                </div>
            </div>
            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="电话"></ae-label>
                    <ae-textbox id="telphone" readonly="readonly" textbox-value="returnallowance.telphone" maxLength="20"></ae-textbox>
                </div>
            </div>
            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="银行账号"></ae-label>
                    <ae-textbox id="BankAccount" readonly="readonly" textbox-value="returnallowance.BankAccount" maxLength="25"></ae-textbox>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="公司地址"></ae-label>
                    <ae-textbox id="companyAddress" readonly="readonly" textbox-value="returnallowance.companyAddress" maxLength="255"></ae-textbox>
                </div>
            </div>
            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="备注"></ae-label>
                    <ae-textbox id="remark" readonly="readonly" textbox-value="returnallowance.remark" maxLength="255"></ae-textbox>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <table id="returndatagrid" style="width: 100%" ae-Datagrid title="查询结果列表" rownumbers="true" pagination="true" pageSize="10" data-options="singleSelect:true">
                    <thead>
                        <tr>
                            <th data-options="field:'returnOrderNo',align:'center'" width="16%"><strong>退货证明申请单号</strong></th>
<!--                             <th data-options="field:'status',align:'center'" width="10%"><strong>处理状态</strong></th> -->
                            <th data-options="field:'gross',align:'center'" width="10%"><strong>索赔含税金额</strong></th>
                            <th data-options="field:'proposer',align:'center'" width="10%"><strong>申请人</strong></th>
                            <th data-options="field:'applyDate',align:'center'" width="10%"><strong>申请日期</strong></th>
                            <th data-options="field:'reporter',align:'center'" width="10%"><strong>上报人</strong></th>
                            <th data-options="field:'reportDate',align:'center'" width="10%"><strong>上报日期</strong></th>
<!--                             <th data-options="field:'acceptDate',align:'center'" width="10%"><strong>受理日期</strong></th> -->
<!--                             <th data-options="field:'sgmRemark',align:'center'" width="10%"><strong>受理意见</strong></th> -->
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="row-fluid">
            <div align="center">
                <a ae-Linkbutton href="javascript:;" on-click-function="cancel">返回</a>
            </div>
        </div>
    </div>

    <div ae-panel data-options="region:'center'" style="padding-bottom: 20px;" title="附件XML信息">

        <div class="row-fluid">
            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="红票申请单号"></ae-label>
                    <ae-textbox id="ReqBillNo" readonly="readonly" textbox-value="returnallowance.ReqBillNo"></ae-textbox>
                </div>
            </div>

            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="发票类型"></ae-label>
                    <ae-textbox id="InvKind" readonly="readonly" textbox-value="returnallowance.InvKind"></ae-textbox>
                </div>
            </div>

            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="税种类别"></ae-label>
                    <ae-textbox id="Szlb" readonly="readonly" textbox-value="returnallowance.Szlb"></ae-textbox>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="发票类型代码"></ae-label>
                    <ae-textbox id="TypeCode" readonly="readonly" textbox-value="returnallowance.TypeCode"></ae-textbox>
                </div>
            </div>
            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="发票号码"></ae-label>
                    <ae-textbox id="InvNo" readonly="readonly" textbox-value="returnallowance.InvNo"></ae-textbox>
                </div>
            </div>

            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="申请日期"></ae-label>
                    <ae-textbox id="date" readonly="readonly" textbox-value="returnallowance.date"></ae-textbox>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <div control-group padding-left="50px" padding-top="0px">
                    <ae-label name="开票员"></ae-label>
                    <ae-textbox id="Operator" readonly="readonly" textbox-value="returnallowance.Operator"></ae-textbox>
                </div>
            </div>

            <div class="span4">
                <div control-group padding-left="35px" padding-top="0px">
                    <ae-label name="税率"></ae-label>
                    <ae-textbox id="TaxRate" readonly="readonly" textbox-value="returnallowance.TaxRate"></ae-textbox>
                </div>
            </div>
            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="客户名称"></ae-label>
                    <ae-textbox id="BuyerName" readonly="readonly" textbox-value="returnallowance.BuyerName"></ae-textbox>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <div control-group padding-left="35px" padding-top="0px">
                    <ae-label name="客户税号"></ae-label>
                    <ae-textbox id="BuyTaxCode" readonly="readonly" textbox-value="returnallowance.BuyTaxCode"></ae-textbox>
                </div>
            </div>

            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="不含税总价"></ae-label>
                    <ae-textbox id="Amount" readonly="readonly" width="200" textbox-value="returnallowance.Amount"></ae-textbox>
                </div>
            </div>
            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="销方名称"></ae-label>
                    <ae-textbox id="SellerName" readonly="readonly" textbox-value="returnallowance.SellerName"></ae-textbox>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <div control-group padding-left="35px" padding-top="0px">
                    <ae-label name="销户税号"></ae-label>
                    <ae-textbox id="SellTaxCode" readonly="readonly" textbox-value="returnallowance.SellTaxCode"></ae-textbox>
                </div>
            </div>

            <div class="span4">
                <div control-group padding-left="35px" padding-top="0px">
                    <ae-label name="税额"></ae-label>
                    <ae-textbox id="Tax" readonly="readonly" textbox-value="returnallowance.Tax"></ae-textbox>
                </div>
            </div>

            <div class="span4">
                <div control-group padding-left="10px" padding-top="0px">
                    <ae-label name="退票原因"></ae-label>
                    <ae-textbox id="Reason" readonly="readonly" textbox-value="returnallowance.Reason"></ae-textbox>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div control-group padding-left="60px" padding-top="0px">
                    <ae-label name="备注"></ae-label>
                    <ae-textbox id="ReqMemo" readonly="readonly" textbox-value="returnallowance.ReqMemo"></ae-textbox>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <table id="commoditydatagrid" style="width: 100%" ae-Datagrid title="信息列表" rownumbers="true">
                    <thead>
                        <tr>
                            <th data-options="field:'GoodsName',align:'center'" width="50%"><strong>商品名称</strong></th>
                            <th data-options="field:'GoodsUnit',align:'center'" width="10%"><strong>计量单位</strong></th>
                            <th data-options="field:'GoodsPrice',align:'center'" width="10%"><strong>不含税单价</strong></th>
                            <th data-options="field:'GoodsNum',align:'center'" width="10%"><strong>数量</strong></th>
                            <th data-options="field:'GoodsJE',align:'center'" width="10%"><strong>不含税金额</strong></th>
                            <th data-options="field:'GoodsSE',align:'center'" width="10%"><strong>税额</strong></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div ae-window id="deatilWindow" title="添加退货证明" data-options="modal:true,closed:true,shadow:false">
        <div id="deatilistable" class="row-fluid">
            <div class="span12">
                <table ae-Datagrid style="width:100%" id="deatilsdatagrid" title="信息列表" rownumbers="true" pagination="true" pageSize="10" data-options="singleSelect:true">
                    <thead>
                        <tr>
                            <th data-options="field:'returnOrderNo',align:'center'" width="30%"><strong>退货证明申请单号</strong></th>
                            <!--<th data-options="field:'status',align:'center'" width="10%"><strong>处理状态</strong></th>-->
                            <th data-options="field:'gross',align:'center'" width="10%"><strong>索赔含税金额</strong></th>
                            <th data-options="field:'proposer',align:'center'" width="10%"><strong>申请人</strong></th>
                            <th data-options="field:'applyDate',align:'center'" width="10%"><strong>申请日期</strong></th>
                            <th data-options="field:'reporter',align:'center'" width="10%"><strong>上报人</strong></th>
                            <th data-options="field:'reportDate',align:'center'" width="10%"><strong>上报日期</strong></th>
<!--                             <th data-options="field:'acceptDate',align:'center'" width="10%"><strong>受理日期</strong></th> -->
<!--                             <th data-options="field:'sgmRemark',align:'center'" width="10%"><strong>受理意见</strong></th> -->
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="row-fluid">
            <div align="center">
                <a ae-Linkbutton href="javascript:;" on-click-function="returnCancel">返回</a>
            </div>
        </div>
    </div>
</div>